<div data-controller="time-entry-form"
     data-time-entry-form-recent-description-url-value="<%= recent_description_time_entries_path %>">
  <%= render "time_entries/new_form", entry: @entry, date: @date, tasks: @tasks, visible: true %>
</div>
